.listPage {
  display: flex;
  height: 100%;
}

.listContainer {
  flex: 3;
  height: 100%;
}

.listWrapper {
  height: 100%;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow-y: scroll;
  padding-bottom: 50px;
}

.mapContainer {
  flex: 2;
  height: 100%;
  background-color: #fcf5f3;
}

@media (max-width: 900px) {
  .listPage {
    flex-direction: column;
    height: auto;
  }

  .listContainer {
    height: auto;
  }

  .listWrapper {
    height: auto;
    padding-right: 0;
    gap: 30px;
    overflow-y: visible;
    padding-bottom: 30px;
  }

  .mapContainer {
    display: none;
  }
}
